<p><%= form.label :name, t(:name) %>:&nbsp;<%= form.text_field :name %></p>
<p><%= form.check_box :is_private %>&nbsp;<%= form.label :is_private, t(:is_private) %></p>
<p><%= form.check_box :is_default %>&nbsp;<%= form.label :is_default, t(:is_default) %></p>

